<td><a class="nav-link" routerLink="/createPatient" routerLinkActive="active">Criar Paciente</a></td>
<table class="table">  
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Cidade</th>
        <th scope="col">Ação </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of Patients; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.city }}</td>
        <td>
          <span (click)="removePatient(patient)" class="text-danger">Delete</span> &nbsp;
          <span routerLink="/update-patient/{{patient.id}}" class="text-primary">Edit</span>
        </td>
      </tr>
    </tbody>
  </table>