<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Nome</label>
    <input type="text" formControlName="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Contato</label>
    <input type="text" formControlName="contact" class="form-control" required>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Criar</button>
  </div>
</form>
