<form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label>Nome</label>
      <input type="text" formControlName="name" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <label>Idade</label>
      <input type="text" formControlName="age" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <label>Cidade</label>
      <input type="text" formControlName="city" class="form-control" required>
    </div>
  
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
  </form>